<!DOCTYPE html> 
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>歌診断スタート</title>
    </head>

    <body>
        <div class="grapes-head">
            <%= link_to "おすすめ歌動画診断", grapes_path, class: "button-style" %>
        </div>

        <div class="grapes-start">
            <%= link_to "診断を始める", , class: "button-style" %>
        </div>
        <div class="grapes-end">
            <div class="grapes-end-url">
                <%= link_to 'トップページへ戻る', root_path %>
            </div>
                </div>
        </body>