<div class="intoro">
        <div class="intoro-kekka">
            <div class="intoros">
                <p class="intoro-title">診断結果</p>
            </div>
            <div class="intoros">
                <p class="intoro-text">あなたにおすすめの曲は…</p>
            </div>
        </div>

</div>
<div class="result-container">
<div class="sindan-result">
    <% if @grape.question == "1111" %>
    <div class="result">
        <p class="result-title">神っぽいな</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "1112" %>
    <div class="result">
        <p class="result-title">合法的トビ方ノススメ</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/IpXlwqlDCXI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "1121" %>
    <div class="result">
        <p class="result-title">あつまれ！パーティーピーポー / ほんわかあもんぴーず</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/LtMdjZaPySk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "1122" %>
    <div class="result">
        <p class="result-title">ヘビーローテーション / ハチコ48</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/h_RrmeTBl0k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "1211" %>
    <div class="result">
        <p class="result-title">踊</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/fBL0N_gsK5A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "1212" %>
    <div class="result">
        <p class="result-title">長く短い祭</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/eFlFnu_qbJA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "1221" %>
    <div class="result">
        <p class="result-title">丸の内サディスティック / オサム×ハッチャン</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/SpoVRxH2Rws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "1222" %>
    <div class="result">
        <p class="result-title">太陽系デスコ / プテラたかはし×ハッチャン×ゴリラさん</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/dmKw0W9c_g8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "2111" %>
    <div class="result">
        <p class="result-title">Myra</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/j9aCHBJBscY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "2112" %>
    <div class="result">
        <p class="result-title">Pretender</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/iKbpVrjxIdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "2121" %>
    <div class="result">
        <p class="result-title">クリスマスソング / プテラたかはし×ハッチャン</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/nyjq_biu-Yo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "2122" %>
    <div class="result">
        <p class="result-title">【Among Us配信者みんなで】Happy Halloween</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/Tz9iJH8MamQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "2211" %>
    <div class="result">
        <p class="result-title">メリクリ</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/DVelI8nW9vI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "2212" %>
    <div class="result">
        <p class="result-title">君じゃない誰かなんて～tejina～</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/1heU0p0HanE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "2221" %>
    <div class="result">
        <p class="result-title">再会 / ハッチャン×たんたかくん</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/Qu5iiRBQ8yQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <% elsif @grape.question == "2222" %>
    <div class="result">
        <p class="result-title">クセの強いflamingo</p>
    </div>
    <div class="result-movie">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/SL76IWbSBio" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="result-plus">
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="result-plus-movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/--_w52FeWpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    
    <% end %>
    <div class="intoro-url">
        <%= link_to 'もう一度診断する', new_grape_path %>
        <%= link_to 'トップページへ戻る', root_path %>
    </div>
</div>